
.home-page {
  /* background-color: #000000; */
  background-image: url("../img/messi-free-kick.jpg");
  /* opacity: 0.7;  */
  background-repeat: no-repeat;  
  background-attachment: fixed; 
   background-size: cover;
  /* min-height: 1200px;   */
  height: 100%; 
} 

.boxx{
  font-family: 'Lemonada', cursive;
  /* font-size: 2em; */
  text-align: right;
  position: absolute;
  top: 10%;
  left: 50%; 
  /* left: 80%;  */
  transform: translate(-50%, -10%);
  background-color: #000000a1;  
  border-radius: 5px;
} 


.winit96 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
}


@media only screen and (max-width: 1000px) {
 
  /* .winners-col{
    display: none;
  } */
}
@media only screen and (max-width: 800px) {
  body {
    /* background-color: lightblue; */
  
  } 
}