
.logo-box {
  display: inline-block;  
  padding: 5px;
  /* margin: 2px; */ 
  min-width: 30px; 
  /* max-width: 60px; */
  max-height: 55px; 
  overflow: hidden; 
  border-radius: 0.7rem;  
  text-align: center!important;
  /* border-bottom: 2px solid #b1dcff;   */
  /* border-bottom: 1px solid #e1f0ff;   */  
}
.logo-box.clickable {
  /* background-color: #bfdfff;      */
   /* border-bottom: 1px solid #7cc0ff;  */
}
.logo-box.clickable:hover {
  /* background-color: #8cc8ff;    */
  background-color: rgb(95, 95, 95); 
  cursor: pointer;
  /* padding-top: 4px; */
  /* padding-bottom: 6px; */
  /* border-bottom: 3px solid #0084ff;   */
  /* border-bottom: 3px solid goldenrod; */ 
} 
.logo-box.clicked {  
  background-color: rgb(255, 204, 62)       ;
  /* background-color: rgb(170, 235, 255);  */
  /* background-color: rgb(151, 255, 147);  */
  /* border-bottom: 1px solid goldenrod;    */
  /* border: 1px solid rgb(0, 255, 0); */
}

/* ============= */
/* LIG LOGO BOX */
/* =========== */
.lig-logo-box {
  display: inline-block;   
  padding: 5px 2px ; 
  width: 100%; 
  height: 100%;
  border-radius: 6px;   
  text-align: center!important; 
  background-color: #bfdfff;    
  color: #530097;    
  font-weight: 500;
   border-bottom: 1px solid #7cc0ff; 
}
.lig-logo-box:hover { 
  background-color: #49ffb9; 
  /* cursor: pointer; */
  padding-top: 6px;
  padding-bottom: 1px;
  /* border-bottom: 3px solid #0084ff;   */
  border-bottom: 3px solid #00a868;
} 
.lig-logo-box.clicked { 
  background-color: #49ffb9;      
   border-bottom: 2px solid #00a868;  
   padding: 6px 0; 
   /* color: #ffffff; */
   color: #003f27;
   font-weight: 500;
   /* text-decoration: underline; */
}  
.lig-selector-container {
  /* inline-block p-1 curved bg-white */  
  /* display: inline-block;  */
  background: linear-gradient(270deg,#ff2882,#963cff 45%);
  padding: 5px;
  border-radius: 6px;
  max-width: 600px;
  margin: auto;
}
.lig-selector {
  /* inline-block p-1 curved bg-white */  
  max-width: 600px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  /* font-weight: 500; */
}
.lig-label {
  align-self: flex-end;
}