/* Week Selector Box   < \ Week 26\ > */
.week-selector {
  /* border: #004985 1px solid; */
  /* padding: 5px;   */
  background-color: #008cff; 
  background-color: #e9f8ff; 
  /* background-color: #e6f8ff; */
  color: #ffffff;
  color: #00065f;
  /* color: #003764; */
  /* font-size: 18px; */
  font-weight: 600; 
  /* min-width: 150px;    */
  border-radius: 20px;
  overflow: hidden;
  display: flex; 
}
.week-selector.edit {
  border: #006cc5 2px solid;
  /* padding: 5px;  */ 
  background-color: #2196F3; 
  margin: auto !important;
}
.week-selector > div{ 
  text-align: center;  
  padding: 6px 8px;
  
}   
.week-selector > .right,.week-selector > .left{ 
  background-color: #00065f;  
  color: #ffffff;  
}    
 

.winners-week-selector {
  background-color: #d7f2ff;  
  border-radius: 5px;
  overflow: hidden;
  /* margin: 6px 0; */
}
.winners-week-selector > .header { 
  background-color: #c4ebff; 
  color: #00065f;
  padding: 6px 10px;
  font-size: 18px;
  font-weight: 600; 
 }
.winners-week-selector > .d-flex > .item:hover{
  color: #00a2ff; 
}
.winners-week-selector > .d-flex > .item {
  color: #00065f;
  padding: 6px 10px;
  font-weight: 500;
  cursor: pointer;
}
.winners-week-selector > .d-flex > .item__selected {
  padding: 4px  10px   0px;
  font-weight: 500;
  border-bottom: 3px solid blueviolet;
 color: blueviolet;
 cursor: default;
}